@import "color.less";
@import "base.less";
@import "mixin.less";
@import 'transition.less';

// layout样式
.layoutContent {
  height: calc(100% - 90px);// 90px为nav+footer
  padding: 20px 30px 6px;
  // overflow-y: auto; // 暂不需要页面滚动
}

.layoutFooter {
  padding-right: 30px;
  color: @bds-color-lightGrey;
  font-size: 12px;
  line-height: 30px;
  text-align: right;
}

// 导航栏配置按钮-下拉列表样式
.configBtn {
  margin-right: 20px;
  color: rgba(255, 255, 255, .7);
  line-height: 60px;
  transition: all .2s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }

  /* 替换方案 */
  .ivu-dropdown-item {
    font-size: 14px !important;
    text-align: left;
  }
}
// 卡片样式替换方案
.ivu-card {
  position: relative;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 8px 20px @bds-color-shadow !important;
  }

  // 超出高度后让ivu-card-body出现滚动条
  &.ivu-card-bordered {
    height: 100%;
  }

  .ivu-card-head {
    padding: 14px 15px;
    color: @bds-color-blue;
    font-size: 16px;

    p {
      color: @bds-color-blue;
      font-size: 16px;
    }
  }

  .ivu-card-body {
    height: calc(100% - 70px) !important; // 70为ivu-card-head + ivu-card-body的padding-bottom // 尽量不存在全局样式文件，待调整
    padding: 16px 20px;
    overflow: auto; // 尽量不存在全局样式文件，待调整
  }

  .ivu-card-extra {
    right: 20px;
  }
}
// 搜索输入框的搜索按钮样式
.searchBtn {
  color: @bds-color-dark;
  transition: all .2s ease-in-out;

  &:hover {
    color: @bds-color-blue;
    cursor: pointer;
  }

  &:active {
    transform: scale(1.3);
  }
}

// card操作按钮区块样式
.actionBlock {
  // padding-right: 3px;
  padding-bottom: 10px;
  text-align: right;

  .ivu-select {
    text-align: left;
  }
  .ivu-btn {
    margin-left: 5px;
  }
}

// card-tab栏样式
.actionTabs {
  .actionTab {
    position: relative;
    display: inline-block;
    height: 35px;
    padding: 0 10px;
    color: @bds-color-dark;
    transition: all .2s;

    &:hover {
      color: @bds-color-blue;
      cursor: pointer;
    }
  }

  .currentTab {
    color: @bds-color-blue;
    font-weight: 600;

    /* 下划线 */
    &::after {
      position: absolute;
      top: 36px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: #2d8cf0;
      content: '';
    }
  }
}

// 分页器样式
.pagination-wrapper {
  margin: 10px;
  overflow: hidden;

  .pagination {
    float: right;
  }
}
